body{
	margin:0px;
	font-family:arial;
}
.container{
	background:rgb(32, 138, 63);
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.title-row{
	width:270px;
	padding:20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.title{
	color:#fff;
	font-size:16px;
	font-weight:bold;
}
.solvedCountView{
	color:#fff;
	font-size:14px;
}
.levels{
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	grid-gap:10px;
}
.level{
	color:#fff;
	width:60px;
	height:60px;
	font-size:24px;
	font-weight:bold;
	border-radius:10px;
	border:none;
	transition-duration:.4s;
}